<h1>Phones catalog</h1>
<p>This component demonstrates fetching data from the server.</p>
<p>Current user {{username}}</p>
<p *ngIf="!products"><em>Loading...</em></p>
<input *ngIf="userSigned" type="button" value="Add" class="btn btn-default" (click)="add()" />
<input *ngIf="userSigned" type="button" value="Favourites" class="btn btn-default" (click)="favourites()"/>
<div *ngIf="!personal; else personaltable">
  <table *ngIf="tableMode; else create" class="table table-striped">
    <thead>
      <tr>
        <th>Name</th>
        <th>Designer</th>
        <th>Cost</th>
        <th>Favorites</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let _product of products">
        <ng-template [ngIf]="product?.id != _product.id" [ngIfElse]="edit">
          <td>{{ _product.name }}</td>
          <td>{{ _product.designer }}</td>
          <td>{{ _product.cost }}</td>
          <td>
            <!--<ng-template [ngIf]="userSigned" [ngIfElse]="clear">-->
              <!--Реализовать появление чекбокса только при отсутствии пользователя-->
            <input type="checkbox" *ngIf="userSigned; else clear" [checked]="_product.favourite" (click)="toggle(_product.id,_product)" />
            <button *ngIf="userSigned; else clear" class="btn btn-sm btn-primary" (click)="editProduct(_product)">Customize</button>
            <button *ngIf="userSigned; else clear" class="btn btn-sm btn-danger" (click)="delete(_product)">Delete</button>
            <!--</ng-template>-->
          </td>
        </ng-template>
        <ng-template #clear>
          <p>...</p>
        </ng-template>
      </tr>
    </tbody>
  </table>

</div>



<ng-template #personaltable>
  <table class="table table-striped">
    <thead>
      <tr>
        <th>Name</th>
        <th>Designer</th>
        <th>Cost</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let _product of products">
        <ng-template [ngIf]="product?.id != _product.id" [ngIfElse]="edit">
          <td>{{ _product.name }}</td>
          <td>{{ _product.designer }}</td>
          <td>{{ _product.cost }}</td>
          <td>{{ _product.about }}</td>
          <td>
              <input type="checkbox" [checked]="_product.favourite" (click)="toggle(_product.id,_product)" />

          </td>
          <td>
            <button class="btn btn-sm btn-primary" (click)="editProduct(_product)">Customize</button>
            <button class="btn btn-sm btn-danger" (click)="delete(_product)">Delete</button>
          </td>
        </ng-template>
      </tr>
    </tbody>
  </table>
</ng-template>

<ng-template #edit>
  <td>
    <input type="text" [(ngModel)]="product.name" class="form-control" />
  </td>
  <td>
    <input type="text" [(ngModel)]="product.designer" class="form-control" />
  </td>
  <td>
    <input type="text" [(ngModel)]="product.cost" class="form-control" />
  </td>
  <td>
    <input type="text" [(ngModel)]="product.about" class="form-control" />
  </td>
  <td>
    <input type="button" value="Save" (click)="save()" class="btn btn-sm btn-success" />
    <input type="button" value="Cancel" (click)="cancel()" class="btn btn-sm btn-warning" />
  </td>
</ng-template>


<ng-template #create>
  <div class="form-group">
    <label>Model</label>
    <input type="text" [(ngModel)]="product.name" class="form-control" />
  </div>
  <div class="form-group">
    <label>Designer</label>
    <input type="text" [(ngModel)]="product.designer" class="form-control" />
  </div>
  <div class="form-group">
    <label>Price</label>
    <input type="text" [(ngModel)]="product.cost" class="form-control" />
  </div>
  <div class="form-group">
    <label>Info</label>
    <input type="text" [(ngModel)]="product.about" class="form-control" />
  </div>
  <div>
    <input type="button" value="Save" (click)="save()" class="btn btn-success" />
    <input type="button" value="Cancel" (click)="cancel()" class="btn btn-warning" />
  </div>
</ng-template>
